@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Indie+Flower&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Indie+Flower&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-indie: "Indie Flower", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
}

html,
body {
  background-color: #3b325c;
}
